<div class="row">
    <div class="col-md-4 bg-green p-4" >
        <h3 class="text-header">Propiedades Termofisicas</h3>
    </div>
    <div class="col-md-8 bg-blue-light">
        <form class="form" [formGroup]="buscarForm">
            <div class="row p-4">
                <div class="col-md-4">
                    <label for="">Escoje una categoria</label>
                    <select class="form-control" name="" id="" formControlName="cate" (change)="tomarID()">
                        <option selected value="">Seleccione categoria</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="">Alimentos</label>
                    <select class="form-control" formControlName="alimen" name="" id="" (change)="estados()">
                        <option selected value="">Seleccione alimento</option>
                        <option *ngFor="let alimento of alimentos" [value]="alimento.codigo">{{alimento.nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success mt-4 mr-2" (click)="cargarComposicion()">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                    <button *ngIf="statusPdf" (click)="generarPdf()" class="btn btn-blue mt-4">
                        Generar reporte
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<div *ngIf="estado2" class="w-100 text-center mt-5">
    <img class="empty-state"src="../../../assets/img/undraw_survey_05s5.svg" alt="">
    <p>Para buscar informacion primero selecciona una categoria y luego 
        escoge el alimento de tu preferencia.</p>
</div>

<div *ngIf="cargando" class="text-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="estado"  class="row">
    <div class="col-md-4 bg-blue-light p-2">
        <form [formGroup]="temperaturaForm" (ngSubmit)="agregarTem()">
            <div class="form-group">
                <label for="">Ingrese la temperatua</label>
                <input type="text" class="form-control" formControlName="temperatura" placeholder="°C">

            </div>
            <div class="form-group">
                <button class="btn btn-blue" [disabled]="temperaturaForm.invalid">Calcular</button>
            </div>
        </form>

        <ul class="list-group" id="result-p">
            <li class="list-group-item d-flex justify-content-between align-items-center ">
                 <span class="title">Conductividad</span>
                <span class="tex-result" id="conductivi"><h6><span class="pg">{{obtenerConductividad()}}</span> <span class="medidas"> W/(m*k)</span></h6> </span>
                
            </li>
           
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="title">Difisividad</span>
                <span class="tex-result" ><h6><span class="pg">{{obtenerDifusivity()}} </span> <span class="medidas"> m²/s</span></h6>   </span>
                             
            </li>
           
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="title">Densidad</span>
                <span class="tex-result"><h6><span class="pg">{{obtenerDensity()}} </span><span class="medidas">kg/m³</span></h6>    </span>
             
            </li>
            
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="title">Calor especifico</span>
                <span class="tex-result"><h6><span class="pg">{{obtenerSpecifici()}}</span> <span class="medidas"> J/(kg*K)</span> </h6></span>
                                 
            </li>
           
        </ul>
    </div>

    <div class="col-md-8 p-3">
        <div class="row p-3">
            <h4>Análisis proximal</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th >Humedad(g)</th>
                            <th >Energia(Kcal)</th>
                            <th >Energia(Kj)</th>
                            <th >Proteina(g)</th>
                            <th>Lipidos(g)</th>
                            <th>Carbo_total(g)</th>
                            <th >Carbo_disp(g)</th>
                            <th>Fibra dietaria(g)</th>
                            <th>Cenizas(g)</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>{{alimento.humedad}}</td>
                            <td>{{alimento.energiaKcal}}</td>
                            <td>{{alimento.energiaKj}}</td>
                            <td>{{alimento.proteinaG}}</td>
                            <td>{{alimento.lipidosG}}</td>
                            <td>{{alimento.carbohidratos_total}}</td>
                            <td>{{alimento.carbohidratos_disp}}</td>
                            <td>{{alimento.fibra_dietaria}}</td>
                            <td>{{alimento.cenizas}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row p-4">
                <h4>Minerales</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Calcio</th>
                                <th>Hierro</th>
                                <th>Sodio</th>
                                <th>Fosforo</th>
                                <th>Yodo</th>
                                <th>Zinc</th>
                                <th>Magnecio</th>
                                <th>Potasio</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>{{minerales.calcio}}%</td>
                                <td>{{minerales.hierro}}%</td>
                                <td>{{minerales.sodio}}%</td>
                                <td>{{minerales.fosforo}}%</td>
                                <td>{{minerales.yodo}}%</td>
                                <td>{{minerales.zinc}}%</td>
                                <td>{{minerales.magnecio}}%</td>
                                <td>{{minerales.potasio}}%</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row p-4">
                <h4>Vitamina</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tiamina</th>
                                <th>Riboflaxina</th>
                                <th>niaxina</th>
                                <th>Folatos</th>
                                <th>Vitamina A</th>

                                <th>Vitamina C</th>
                                <th>Vitamina B12</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>{{vitamina.tiamina}}%</td>
                                <td>{{vitamina.riboflaxina}}%</td>
                                <td>{{vitamina.niaxina}}%</td>
                                <td>{{vitamina.folatos}}%</td>
                                <td>{{vitamina.vitaminaA}}%</td>

                                <td>{{vitamina.vitaminaC}}%</td>
                                <td>{{vitamina.vitamina_b12}}%</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row p-4">
                <h4>Acido grasos</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Grasa saturada</th>
                                <th>Grasa Menos Saturada</th>
                                <th>Grasa Polinsaturada</th>
                                <th>Colesterol</th>
                                <th>Parte Comestible</th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>{{acidos.grasaSaturada}}%</td>
                                <td>{{acidos.grasaMenosSaturada}}%</td>
                                <td>{{acidos.grasaPoliinsaturada}}%</td>
                                <td>{{acidos.colesterol}}%</td>
                                <td>{{acidos.parteComestible}}%</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>