<div  class="row">
    <div class="col-md-4 bg-green p-4">
      <h3 class="text-header">Propiedades Termofisicas</h3>
    </div>
    <div class="col-md-8 bg-blue-light">
        <div class="form">
            <div class="row">
                <div class="col-md-4 pl-5">
                    <label for="">Escoje una categoria</label>
                    <select class="form-control" name="" id="">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-4">
                      <label for="">Alimentos</label>
                      <select class="form-control" name="" id="">
                          <option value=""></option>
                      </select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-blue mt-4">
                      Reportes
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4 bg-blue-light p-5">
      <form action="">
          <div class="form-group">
              <label for="">Ingrese la temperatua</label>
              <input type="text" class="form-control" placeholder="°C">
              
          </div>
          <div class="form-group">
              <button class="btn btn-blue">Calcular</button>
          </div>
      </form>

      <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Conductividad
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Difisividad
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          Densidad
            <span class="badge badge-primary badge-pill">1</span>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Calor especifico
              <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul>
    </div>
    <div class="col-md-8 p-4">
        <div class="row p-4">
            <h4>Minerales</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr> 
                            <th>Calcio</th>
                            <th>Hierro</th>
                            <th>Sodio</th>
                            <th>Fosforo</th>
                            <th>Yodo</th>
                            <th>Zinc</th>
                            <th>Magnecio</th>
                            <th>Potacio</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row p-4">
            <h4>Minerales</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr> 
                            <th>Calcio</th>
                            <th>Hierro</th>
                            <th>Sodio</th>
                            <th>Fosforo</th>
                            <th>Yodo</th>
                            <th>Zinc</th>
                            <th>Magnecio</th>
                            <th>Potacio</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
        <div class="row p-4">
            <h4>Minerales</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr> 
                            <th>Calcio</th>
                            <th>Hierro</th>
                            <th>Sodio</th>
                            <th>Fosforo</th>
                            <th>Yodo</th>
                            <th>Zinc</th>
                            <th>Magnecio</th>
                            <th>Potacio</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div>
