/* You can add global styles to this file, and also import other style files */
*{
    list-style: none;
}

.active-admin{
    background-color: #4CA02F;
    color: white; 
}
.list-group-item.active-admin a{
    background-color: #4CA02F !important;
    color: white; 
}
.bg-green{
    background-color:  #4CA02F;
    color: white;
}
.empty-state{
    width: 300px;
    height: 300px;
}
.list-group-item{
    padding: 0px!important;
}
a{
    text-decoration: none !important;
}
.list-group-item a{
  
    padding: 10px;
    display: block;
}

.bg-blue-light{
    background-color:#F4F8F9;
}
.btn-blue{
    background-color: #4558FF;
    color: white;
}
.p-32{
    padding: 0px 32px;
    
}
.f-25{
    font-size: 25px;
}
.breadcrumb-nav{
    padding: 15px!important;
}
.bg-white{
    background-color: #F4F8F9 !important;

}
.btn-green{
    background-color: #4CA02F;
    color: white;
}

.bg-red{
    font-size: 1rem;
color: rgb(235, 51, 51);
}
.text-header{
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.img-avatar{
    width: 50px;
    height: 50px;
}
.card-opt{
    display: flex;
    justify-content: space-between;
}
.fa-close{
    cursor: pointer;
}
.img-perfil{
    width: 200px;
    height: 200px;
}
.mt-30{
    margin-top: 30px;
}
.mr-15{
    margin-right: 15px;
}
.content-hero{
    width: 80%;
}
.content-hero ul li{
    padding: 5px 0px;
    list-style: none;
    
}
.content{
    padding: 30px;
  
}
.content-register{
    box-sizing: border-box;
    overflow-x: hidden;
}

.form-login{
    width: 460px;
    border-left: 1px solid #ccc;
    
}
.pl-30{
    padding-left: 30px;
}
.page-item{
    margin-right: 5px;
    border-radius: 30px;
}
.wave{
    position: fixed;
bottom: 0px;
    width: inherit;
}
.wave-register{

    width: 100%;
}


#login-wrapper{
    box-sizing: border-box;
    height: 100vh;
    
    display: flex;
    justify-content: space-between;
}

.pg{
    color: #4CA02F ;
}
.medidas{
    font-size: 10px;
}
.title{
    font-size: 15px;
}
.cursor{
    cursor: pointer;
}

.avatar{
    height: 200px;
    width: 200px;
}

.w100{
    width: 100px;
}

.w140{
    width: 140px;
}

.avatar{
    border:1px solid gray;
    border-radius: 100%;
    width: 50px;
}

.fondo-modal{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto{
    display: none;
}
.Con-general{
    width: 98%;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Con-imagen{
    width: 54%;
}
.Con-imagen>img{
    width: 100%;
}
.Con-detalle{
    width: 40%;
    background:#F4F8F9;
}
.Con-item{
    margin: 15px auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-group-text{
    height: 38px;
}
@media screen and (max-width:800px) {
    .empty-state{
        width: 150px;
        height: 150px;
    }
    .tex-result{
        font-size: 12px;
    }
    .content-hero{
        display: none;
    }
    .btn-blue{
        width: 100%;
      
    }
}