/* You can add global styles to this file, and also import other style files */

.active-admin{
    background-color: #4CA02F;
    color: white; 
}
.list-group-item.active-admin a{
    background-color: #4CA02F !important;
    color: white; 
}
.bg-green{
    background-color:  #4CA02F;
    color: white;
}
.empty-state{
    width: 300px;
    height: 300px;
}
.list-group-item{
    padding: 0px!important;
}
.list-group-item a{
    padding: 10px;
    display: block;
}

.bg-blue-light{
    background-color:#F4F8F9;
}
.btn-blue{
    background-color: #4558FF;
    color: white;
}
.bg-white{
    background-color: white;
}
.btn-green{
    background-color: #4CA02F;
    color: white;
}
.btn{
    border-radius: 10px;
}
.bg-red{
    font-size: 1rem;
color: rgb(235, 51, 51);
}
.text-header{
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.img-avatar{
    width: 50px;
    height: 50px;
}


.mt-30{
    margin-top: 30px;
}
.content-hero{
    width: 80%;
}
.content-hero ul li{
    padding: 5px 0px;
    list-style: none;
    
}
.content{
    padding: 30px;
}
.content-register{
    box-sizing: border-box;
    overflow-x: hidden;
}

.form-login{
    width: 460px;
    border-left: 1px solid #ccc;
    
}
.pl-30{
    padding-left: 30px;
}
.page-item{
    margin-right: 5px;
    border-radius: 30px;
}
.wave{
    position: fixed;
bottom: 0px;
    width: inherit;
}
.wave-register{

    width: 100%;
}


#login-wrapper{
    box-sizing: border-box;
    height: 100vh;
    
    display: flex;
    justify-content: space-between;
}

.pg{
    color: #4CA02F ;
}
.medidas{
    font-size: 10px;
}
.title{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .empty-state{
        width: 150px;
        height: 150px;
    }
    .tex-result{
        font-size: 12px;
    }
}